<button mat-raised-button color="primary" class="sort-btn" [matMenuTriggerFor]="menu"
        [matBadge]="(applyedSortsCount$ | async)" matBadgeColor="warn" matBadgeSize="small"
        [matBadgeHidden]="!(applyedSortsCount$ | async)">
  Sort
<mat-icon>sort</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <div class="menu-wrapper" #menuWrapper>
    <div class="menu" (click)="$event.stopPropagation()">
      <h2>Sort:</h2>
      <form [formGroup]="sortForm" (ngSubmit)="onSortApply(); menuWrapper.click()">
        <!-- Deadline  -->
        <div class="form-field-wrapper">
          <mat-form-field appearance="outline">
            <mat-label>Deadline</mat-label>
            <mat-select formControlName="deadline">
              @for (option of sortOptions; track option) {
                <mat-option [value]="option">{{ option }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          @if (sortForm.get('deadline').value) {
            <button mat-mini-fab color="primary" title="Clear Deadline" class="clear-btn"
                    (click)="sortForm.get('deadline').patchValue(null)">
              <mat-icon>close</mat-icon>
            </button>
          }
        </div>
        <!-- Status -->
        <div class="form-field-wrapper">
        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            @for (option of sortOptions; track option) {
              <mat-option [value]="option">{{ option }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        @if (sortForm.get('status').value) {
          <button mat-mini-fab color="primary" title="Clear Status" class="clear-btn"
                  (click)="sortForm.get('status').patchValue(null)">
            <mat-icon>close</mat-icon>
          </button>
        }
        </div>
        <!-- Assignee -->
        <div class="form-field-wrapper">
        <mat-form-field appearance="outline">
          <mat-label>Assignee</mat-label>
          <mat-select formControlName="assignee">
            @for (option of sortOptions; track option) {
              <mat-option [value]="option">{{ option }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        @if (sortForm.get('assignee').value) {
          <button mat-mini-fab color="primary" title="Clear Assignee" class="clear-btn"
                  (click)="sortForm.get('assignee').patchValue(null)">
            <mat-icon>close</mat-icon>
          </button>
        }
        </div>
        <button mat-raised-button color="primary" type="submit">
          Apply
        </button>
      </form>
    </div>
  </div>
</mat-menu>

